In [331]:
import pandas as pd

In [332]:
k1 = 'saya pergi ke rumah nenek naik mobil nenek'
k2 = 'nenek pergi ke rumah kakek naik kereta'

In [333]:
k12 = k1 + ' ' + k2
k12 = list(set(k12.split()))
k12

['rumah', 'pergi', 'kereta', 'mobil', 'naik', 'saya', 'ke', 'nenek', 'kakek']

In [334]:
def word_counter(input_string,words): #words = list isi kata yang mau dihitung
    input_string = input_string.split()
    temp_dict = {}
    for j in words:
        temp_dict[j] = 0
    for string in input_string:
        temp_dict[string] += 1
    return temp_dict

In [335]:
kata = {'k1':word_counter(k1,k12),'k2':word_counter(k2,k12)}

In [336]:
df = pd.DataFrame.from_dict(kata,orient='index').T
df

        k1  k2
rumah    1   1
pergi    1   1
kereta   0   1
mobil    1   0
naik     1   1
saya     1   0
ke       1   1
nenek    2   1
kakek    0   1

In [337]:
import numpy as np

In [338]:
dotprod = df['k1']@df['k2']

In [339]:
cosine_sim = dotprod / (np.linalg.norm(df['k1'] * np.linalg.norm(df['k2'])))
cosine_sim

0.7171371656006361