In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv("covid_19_indonesia_time_series_all.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21759 entries, 0 to 21758
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         21759 non-null  object
 1   Location ISO Code            21759 non-null  object
 2   Location                     21759 non-null  object
 3   New Cases                    21759 non-null  int64
 4   New Deaths                   21759 non-null  int64
 5   New Recovered                21759 non-null  int64
 6   New Active Cases             21759 non-null  int64
 7   Total Cases                  21759 non-null  int64
 8   Total Deaths                 21759 non-null  int64
 9   Total Recovered              21759 non-null  int64
 10  Total Active Cases           21759 non-null  int64
 11  Location Level               21759 non-null  object
 12  City or Regency              0 non-null      float64
 13  Province                     21117 non-null  object
 14  Country                      21759 non-null  object
 15  Continent                    21759 non-null  object
 16  Island                       21117 non-null  object
 17  Time Zone                    21117 non-null  object
 18  Special Status               3123 non-null   object
 19  Total Regencies              21759 non-null  int64
 20  Total Cities                 21145 non-null  float64
 21  Total Districts              21759 non-null  int64
 22  Total Urban Villages         21142 non-null  float64
 23  Total Rural Villages         21117 non-null  float64
 24  Area (km2)                   21759 non-null  int64
 25  Population                   21759 non-null  int64
 26  Population Density           21759 non-null  float64
 27  Longitude                    21759 non-null  float64
 28  Latitude                     21759 non-null  float64
 29  New Cases per Million        21759 non-null  float64
 30  Total Cases per Million      21759 non-null  float64
 31  New Deaths per Million       21759 non-null  float64
 32  Total Deaths per Million     21759 non-null  float64
 33  Total Deaths per 100rb       21759 non-null  float64
 34  Case Fatality Rate           21759 non-null  object
 35  Case Recovered Rate          21759 non-null  object
 36  Growth Factor of New Cases   20572 non-null  float64
 37  Growth Factor of New Deaths  19292 non-null  float64
dtypes: float64(14), int64(12), object(12)
memory usage: 6.3+ MB

In [6]:
df.mean()

C:\Users\Judan Syamsul Hadad\AppData\Local\Temp\ipykernel_11012\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

New Cases                      3.912936e+02
New Deaths                     1.322041e+01
New Recovered                  3.773110e+02
New Active Cases               7.621674e-01
Total Cases                    8.525997e+04
Total Deaths                   2.648289e+03
Total Recovered                7.671260e+04
Total Active Cases             5.899079e+03
City or Regency                         NaN
Total Regencies                2.416026e+01
Total Cities                   5.872499e+00
Total Districts                4.204444e+02
Total Urban Villages           5.087405e+02
Total Rural Villages           4.490348e+03
Area (km2)                     1.112418e+05
Population                     1.547817e+07
Population Density             7.449898e+02
Longitude                      1.136808e+02
Latitude                      -2.731868e+00
New Cases per Million          2.939303e+01
Total Cases per Million        6.183651e+03
New Deaths per Million         8.527267e-01
Total Deaths per Million       1.635422e+02
Total Deaths per 100rb         1.635419e+01
Growth Factor of New Cases     1.395671e+00
Growth Factor of New Deaths    1.074145e+00
dtype: float64

In [ ]:
np.median(df)

In [10]:
stats.mode(df['Location'])

ModeResult(mode=array(['DKI Jakarta'], dtype=object), count=array([642]))

In [ ]:
df.var()