Pandas

Load-Prepare-Manipulate-Model-Analyze

Import Library

In [216]:
import numpy as np
import pandas as pd

Series

In [217]:
reveneus = pd.Series([5555, 7000, 1980])
print(reveneus)

0    5555
1    7000
2    1980
dtype: int64

In [218]:
print(reveneus.values)
print(reveneus.index)

[5555 7000 1980]
RangeIndex(start=0, stop=3, step=1)

In [219]:
reveneus.index = (["Amsterdam","Toronto","Tokyo"])
#atau reveneus = ([5555, 7000, 1980],["Amsterdam","Toronto","Tokyo"])
print(reveneus)

Amsterdam    5555
Toronto      7000
Tokyo        1980
dtype: int64

In [220]:
reveneusa = pd.Series([5, 7000, 1980],["Amsterdam","Toronto","Tokyo"])
print(reveneusa)

Amsterdam       5
Toronto      7000
Tokyo        1980
dtype: int64

Menggunakan Dictionary

In [221]:
employee_city = pd.Series({"Amsterdam":5, "Tokyo":8,"Balikpapan":1})
print(employee_city)

Amsterdam     5
Tokyo         8
Balikpapan    1
dtype: int64

Memanggil Keys

In [222]:
employee_city.keys()

Index(['Amsterdam', 'Tokyo', 'Balikpapan'], dtype='object')

In [223]:
"Tokyo" in employee_city

True

In [224]:
"Balikpapan" in employee_city

True

In [225]:
5 in employee_city.values

True

Dataframe

In [226]:
city_data = pd.DataFrame({
    "revenue": reveneus,
    "employee": employee_city
})

#Ada missing values
print(city_data)
city_data.dtypes

            revenue  employee
Amsterdam    5555.0       5.0
Balikpapan      NaN       1.0
Tokyo        1980.0       8.0
Toronto      7000.0       NaN

revenue     float64
employee    float64
dtype: object

Akses Komponen Dataframe

In [227]:
city_data.axes #Row dan Column

[Index(['Amsterdam', 'Balikpapan', 'Tokyo', 'Toronto'], dtype='object'),
 Index(['revenue', 'employee'], dtype='object')]

Column

In [228]:
city_data.columns #Column

Index(['revenue', 'employee'], dtype='object')

In [229]:
city_data.columns[0]

'revenue'

In [230]:
city_data.columns[1]

'employee'

In [231]:
city_data.columns[-1]

'employee'

Row

In [232]:
city_data.index #Row

Index(['Amsterdam', 'Balikpapan', 'Tokyo', 'Toronto'], dtype='object')

In [233]:
city_data.index[0]

'Amsterdam'

In [234]:
city_data.index[3]

'Toronto'

In [235]:
city_data.index[-1]

'Toronto'

Akses ke Series

In [236]:
reveneus

Amsterdam    5555
Toronto      7000
Tokyo        1980
dtype: int64

In [237]:
reveneus[:2]

Amsterdam    5555
Toronto      7000
dtype: int64

In [238]:
reveneus[1:]

Toronto    7000
Tokyo      1980
dtype: int64

In [239]:
reveneus["Toronto":]

Toronto    7000
Tokyo      1980
dtype: int64

In [240]:
reveneus[:"Tokyo"]

Amsterdam    5555
Toronto      7000
Tokyo        1980
dtype: int64

.loc dan .iloc

In [241]:
colors = pd.Series(
    ["red", "purple", "blue", "green", "yellow"],
    index=[1, 2, 3, 5, 8]
)
print(colors)

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [242]:
colors.loc[1] #Lihat ke index label

'red'

In [243]:
reveneus.loc["Amsterdam"]

5555

In [244]:
colors.iloc[1] #Lihat ke index positioning

'purple'

In [245]:
print(colors)

1       red
2    purple
3      blue
5     green
8    yellow
dtype: object

In [246]:
colors.loc[[1,4,8]] #Error karena label index 4 tidak ada

KeyError: '[4] not in index'

In [ ]:
colors.loc[[1,3,8]]

1       red
3      blue
8    yellow
dtype: object

In [ ]:
colors.loc[1:3]

1       red
2    purple
3      blue
dtype: object

In [ ]:
colors.loc[1:5]

1       red
2    purple
3      blue
5     green
dtype: object

In [ ]:
colors.loc[::2]

1       red
3      blue
8    yellow
dtype: object

In [ ]:
colors.iloc[1:3]

2    purple
3      blue
dtype: object

Akses ke Dataframe

In [ ]:
city_data.loc["Balikpapan"]

revenue     NaN
employee    1.0
Name: Balikpapan, dtype: float64

In [ ]:
city_data.loc["Balikpapan","revenue"]

nan

In [ ]:
city_data.loc["Balikpapan","employee"]

1.0

In [ ]:
city_data.iloc[1]

revenue     NaN
employee    1.0
Name: Balikpapan, dtype: float64

Concat ke bawah

In [254]:
further_city_data = pd.DataFrame(
    {"revenue": [7000, 3400], "employee": [2, 2]},
    index=["New York", "Barcelona"]
)
print(further_city_data)

           revenue  employee
New York      7000         2
Barcelona     3400         2

In [255]:
all_city_data = pd.concat([city_data, further_city_data], sort=False)
print(all_city_data)

            revenue  employee
Amsterdam    5555.0       5.0
Balikpapan      NaN       1.0
Tokyo        1980.0       8.0
Toronto      7000.0       NaN
New York     7000.0       2.0
Barcelona    3400.0       2.0

Concat ke samping

In [257]:
city_countries = pd.DataFrame({
    "country": ["Holland", "Japan", "Holland", "Canada", "Spain"],
    "capital": [1, 1, 0, 0, 0]},
    index=["Amsterdam", "Tokyo", "Rotterdam", "Toronto", "Barcelona"]
)
print(city_countries)

           country  capital
Amsterdam  Holland        1
Tokyo        Japan        1
Rotterdam  Holland        0
Toronto     Canada        0
Barcelona    Spain        0

In [273]:
cities = pd.concat([all_city_data,city_countries],axis=1,sort=False)
print(cities)

            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       1.0      NaN      NaN
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      NaN      NaN
Barcelona    3400.0       2.0    Spain      0.0
Rotterdam       NaN       NaN  Holland      0.0

Join

In [283]:
pd.concat([all_city_data, city_countries], axis=1, join="inner")

           revenue  employee  country  capital
Amsterdam   5555.0       5.0  Holland        1
Tokyo       1980.0       8.0    Japan        1
Toronto     7000.0       NaN   Canada        0
Barcelona   3400.0       2.0    Spain        0

Sort

In [275]:
cities.sort_index()

            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       1.0      NaN      NaN
Barcelona    3400.0       2.0    Spain      0.0
New York     7000.0       2.0      NaN      NaN
Rotterdam       NaN       NaN  Holland      0.0
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0

In [278]:
cities.sort_values('revenue')

            revenue  employee  country  capital
Tokyo        1980.0       8.0    Japan      1.0
Barcelona    3400.0       2.0    Spain      0.0
Amsterdam    5555.0       5.0  Holland      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      NaN      NaN
Balikpapan      NaN       1.0      NaN      NaN
Rotterdam       NaN       NaN  Holland      0.0

Merge

In [280]:
countries = pd.DataFrame({
    "population_millions": [17, 127, 37],
    "continent": ["Europe", "Asia", "North America"]
}, index=["Holland", "Japan", "Canada"])
print(countries)

         population_millions      continent
Holland                   17         Europe
Japan                    127           Asia
Canada                    37  North America

In [281]:
pd.merge(cities,countries, left_on="country", right_index=True) #Merge inner join

,revenue,employee,country,capital,population_millions,continent
Amsterdam,5555.0,5.0,Holland,1.0,17,Europe
Rotterdam,NaN,NaN,Holland,0.0,17,Europe
Tokyo,1980.0,8.0,Japan,1.0,127,Asia
Toronto,7000.0,NaN,Canada,0.0,37,North America

In [282]:
pd.merge(cities,countries, left_on="country", right_index=True, how="outer") #Merge outer join

,revenue,employee,country,capital,population_millions,continent
Amsterdam,5555.0,5.0,Holland,1.0,17.0,Europe
Rotterdam,NaN,NaN,Holland,0.0,17.0,Europe
Balikpapan,NaN,1.0,NaN,NaN,NaN,NaN
New York,7000.0,2.0,NaN,NaN,NaN,NaN
Tokyo,1980.0,8.0,Japan,1.0,127.0,Asia
Toronto,7000.0,NaN,Canada,0.0,37.0,North America
Barcelona,3400.0,2.0,Spain,0.0,NaN,NaN

Filter

In [263]:
cities.loc["Balikpapan","employee"] = float('NaN')
cities.loc["New York","country"] = "USA"
print(cities)

            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       NaN      NaN      NaN
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      USA      NaN
Barcelona    3400.0       2.0    Spain      0.0
Rotterdam       NaN       NaN  Holland      0.0

In [286]:
city_filter0 = cities.dropna() #thres=0

print(cities,'\n*')
print(city_filter0)

            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       1.0      NaN      NaN
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      NaN      NaN
Barcelona    3400.0       2.0    Spain      0.0
Rotterdam       NaN       NaN  Holland      0.0
*
           revenue  employee  country  capital
Amsterdam   5555.0       5.0  Holland      1.0
Tokyo       1980.0       8.0    Japan      1.0
Barcelona   3400.0       2.0    Spain      0.0

In [288]:
city_filter2 = cities.dropna(thresh=2)

print(cities,'\n*')
print(city_filter2)

            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       1.0      NaN      NaN
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      NaN      NaN
Barcelona    3400.0       2.0    Spain      0.0
Rotterdam       NaN       NaN  Holland      0.0
*
           revenue  employee  country  capital
Amsterdam   5555.0       5.0  Holland      1.0
Tokyo       1980.0       8.0    Japan      1.0
Toronto     7000.0       NaN   Canada      0.0
New York    7000.0       2.0      NaN      NaN
Barcelona   3400.0       2.0    Spain      0.0
Rotterdam      NaN       NaN  Holland      0.0

In [291]:
city_filter0 = cities.dropna(axis=1) #thres=0

print(cities,'\n*')
print(city_filter0)

            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       1.0      NaN      NaN
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      NaN      NaN
Barcelona    3400.0       2.0    Spain      0.0
Rotterdam       NaN       NaN  Holland      0.0
*
Empty DataFrame
Columns: []
Index: [Amsterdam, Balikpapan, Tokyo, Toronto, New York, Barcelona, Rotterdam]

In [294]:
city_filter0 = cities.dropna(thresh=1,axis=1) #thres=0

print(cities,'\n*')
print(city_filter0)

            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       1.0      NaN      NaN
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      NaN      NaN
Barcelona    3400.0       2.0    Spain      0.0
Rotterdam       NaN       NaN  Holland      0.0
*
            revenue  employee  country  capital
Amsterdam    5555.0       5.0  Holland      1.0
Balikpapan      NaN       1.0      NaN      NaN
Tokyo        1980.0       8.0    Japan      1.0
Toronto      7000.0       NaN   Canada      0.0
New York     7000.0       2.0      NaN      NaN
Barcelona    3400.0       2.0    Spain      0.0
Rotterdam       NaN       NaN  Holland      0.0

In [289]:
city_filter.sum(axis=0)

C:\Users\Judan Syamsul Hadad\AppData\Local\Temp\ipykernel_26780\2185513646.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  city_filter.sum(axis=0)

revenue     24935.0
employee       18.0
capital         2.0
dtype: float64

In [290]:
city_filter.sum(axis=1)

C:\Users\Judan Syamsul Hadad\AppData\Local\Temp\ipykernel_26780\3942538823.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  city_filter.sum(axis=1)

Amsterdam     5561.0
Balikpapan       1.0
Tokyo         1989.0
Toronto       7000.0
New York      7002.0
Barcelona     3402.0
Rotterdam        0.0
dtype: float64